html, body{
    height:90%;
    margin: 0%;
  }


.all-conteiner{
    display: flex;
    width:100vw;
    height:100vh;
}

.left-conteiner{
    display: flex;
    justify-content: center;
    align-items: top;
    width: 60%;
    height: 100%;
    /* background-color: #00523f; */
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("/src/img/png2.jpg");

}

.welcome-section{
    display: flex;
    align-items: center;
    justify-content: center;
height: 10%;
width: 70%;
background-color: aliceblue;

margin-top: 30px;
animation-name: borderAnimation;
animation-duration: 5s;
animation-fill-mode: forwards;

}

@keyframes borderAnimation{

0%{
opacity: 0;
border-top-right-radius: 0px;
border-bottom-left-radius: 0px;
}

20%{


    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;

}

60%{
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;



}
80%{

    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;



}
100%{


    opacity: 1;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
}




}

.right-conteiner{

display: flex;
justify-content: center;
align-items: center;
width: 40%;
height: 100%;
background-color: #f7e01d;


}

section{
height: 360px;
width: 300px;
    background-color: white;
    border-radius: 30px;
}

/* 

 .subCont1{
  
    background-color: blueviolet;
    position:absolute;
    left:-20%;
    top:0;

    width:70%;
    height:100%;
    transform: skew(-20deg); 

    border:2px solid yellow;
}

.subCont2{    
  
      width:50%;
      height:100%;

      border:2px solid grey;

      z-index:1000;

      overflow:hidden;
  }  */