/* .login-div{

height: 100%;
width: 100%;
background-color: brown;


}



header{
display: flex;
justify-content: center;
align-items: center;
 width: 100%;
height: 70px;
background-color: blue;

}

.title-login{

width: 100%;
height: 60px;
background-color: aqua;
display: flex;
justify-content: center;
align-items: center;
}


form{
    display: flex;
justify-content: center;
align-items: center;
    background-color: blueviolet;
    height: 300px;
}

.title-signup{
display: flex;
justify-content: end;
align-items: center;
width: 90%;
height:30px;
background-color: wheat;

}


#email::placeholder{
    color: red;
    text-align: center;
    padding-top: 30px;
}

.center-input{
height: 30px;
width: 100px;
background-color: azure;


}









 */










/* body{
background-color: aqua;
}







.welcome{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: blue;
}

.for-login{
margin-bottom: 150px;
display: flex;
justify-content: center;
align-items: center;
height: 30px;
background-color: bisque;
}

.section-log{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    height: 500px;
}

.center-login{
  
    
  padding: 0 4px;
    height: 100%;
    width: 50%;
    background-color: aqua;
}


#email{

margin-bottom: 30px;
height: 30px;
width: 100%;
}

#password{

    height: 30px;
    width: 80%;
}

.enjoy{
    display: flex;
justify-content: center;
align-items: center;

height: 40px;
width: 100%;
background-color: blueviolet;

} */